<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd"> 

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<context:component-scan base-package="com.searshc" />
	<context:annotation-config />	
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<jaxrs:server id="partsCatalogServer" address="/" >
		<jaxrs:serviceBeans>
			<ref bean="partsCatalogService"/>
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<ref bean="exceptionMapper" />
		</jaxrs:providers>
		<jaxrs:inInterceptors>
			<ref bean="requestHeaderInterceptor"/>
		</jaxrs:inInterceptors>
	</jaxrs:server>
	
	<cxf:bus>
        <cxf:inInterceptors>
            <ref bean="logIn"/>
        </cxf:inInterceptors>
        <cxf:outInterceptors>
            <ref bean="logOut"/>
        </cxf:outInterceptors>
        <cxf:outFaultInterceptors>
            <ref bean="logOut"/>
        </cxf:outFaultInterceptors>
        <cxf:inFaultInterceptors>
            <ref bean="logIn"/>
        </cxf:inFaultInterceptors>
    </cxf:bus>
	
	<bean id="abstractLoggingInterceptor" abstract="true">
    	<property name="prettyLogging" value="${cxf.logger.interceptor.prettyLogging:true}"/>
	</bean>
	
	<bean id="logIn" class="org.apache.cxf.interceptor.LoggingInInterceptor" parent="abstractLoggingInterceptor" />
	
	<bean id="logOut" class="org.apache.cxf.interceptor.LoggingOutInterceptor" parent="abstractLoggingInterceptor" />

	<bean id="requestHeaderInterceptor" class="com.searshc.hspartcatalog.interceptor.RequestHeaderInterceptor" />
	
	<bean id="partsCatalogService" class="com.searshc.hspartcatalog.services.service.impl.PartsCatalogServiceImpl"/>

	<bean id="exceptionMapper" class="com.searshc.hspartcatalog.interceptor.PartsCatalogServiceExceptionMapper"/>
	
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider" />
	
	<import resource="classpath:applicationContext-beans.xml" />

</beans>